@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.836), rgb(0, 0, 0));
}
.calculator{
    border: 1px solid grey;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px 3px 10px rgba(208, 211, 214, 0.5);
    padding: 30px;
}
input{
    font-size: 45px;
    font-weight: bold;
    background: transparent;
    border: none;
    width: 300px;
    padding: 25px;
    margin: 10px;
    text-align: right;
    color: white;
}
input::placeholder{
    color: white;
}
button{
    background: transparent;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 50%;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: -5px -5px 10px rgba(225, 225, 225, 0.418);
}
.btn-equal{
    background-color: orangered;
}
.operator{
    color: aqua;
}